body {background-image:url(jenlisa.jpg); background-attachment: fixed;background-size: cover;:}
img{border-radius: 50% }
h1{color:pink;text-shadow:4px 4px 8px black;border-style: outset;font-size:60px}
p{color:red;font-size:20px;}
h2{color:black;text-shadow:4px 4px 8px pink;border-style: outset;font-size:45px}
h3{color:red;text-shadow: 4px 4px 8px black;font-size:30px}

